#qrimage{
    width: 90%;
    margin-left: 45px;
    
}

#butt,
#photo,
#etext {
    width: 45.4vh;
    height: 20vh;
    font-size: 6vh;

}

#photo,
#etext {
    visibility: hidden;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
#photo{
    margin-top: -400px;
}
#etext{
    margin-top: -400px;
    margin-bottom: 30px;
}

#butt,#photo,#etext {
    border: 0px white;
    background-color: dodgerblue;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Khand", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}