/* Body Styling */
body {
    background-image: 
        radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), 
        radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: screen;
}

/* Video Section */
#videodiv {    
    height: 60.567%;
    width: 98%;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;    
    margin-top: 30px;
    margin-bottom: 40px;    
    aspect-ratio: 16/9;
    height: auto;
}
#anotherviddiv{
    display: flex;
    justify-content: center;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Button Styling */
#scanButton {
    margin-right: 10px;
}

#confirm, #barcodeResult {
    margin-top: 20px;
}

#buttons,
#stuff {
    display: flex;
    justify-content: center;
}

#libbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

/* Barcode & Book Details */
#barcodeResult {
    margin-top: 50px;
    font-size: 5vw;
    text-align: center;
}

#bookinfo{
    display: flex;
}

#bookdetails {
    font-size: 4vw;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 30px;
}

#imagesrc {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

#imagesource {
    width: 40vw;
    margin-top: 2vw;
}

#tip,
#barcode-status {
    font-size: 4vw;
    text-align: center;
    font-style: italic;
}

/* Loader Section */
#loaderdiv {
    display: flex;
    justify-content: center;
}

.loader {
    height: 50px;
    width: 40px;
    position: relative;    
    perspective: 80px;
    visibility: hidden;

}

.loader div {
    /* animation: whirl-book 2s infinite; */
    background: black; /* Ensure --primary is defined elsewhere or replace it with a specific color */
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform-origin: left;
    transform-origin: left;
    width: 100%;
    
}

.loader div:nth-child(1) {
    animation-delay: 0.15s;
}

.loader div:nth-child(2) {
    animation-delay: 0.3s;
}

.loader div:nth-child(3) {
    animation-delay: 0.45s;
}

.loader div:nth-child(4) {
    animation-delay: 0.6s;
}

.loader div:nth-child(5) {
    animation-delay: 0.75s;
}

@keyframes whirl-book {
    0% {
        transform: rotateY(0deg);
    }
    50%,
    80% {
        transform: rotateY(-180deg);
    }
    90%,
    100% {
        opacity: 0;        
        transform: rotateY(-180deg);
    }
}


/* Add/Confirm Book Buttons */
#addButton, #viewButton, #added1 {
    width: 40vw;
    height: 12.3605vw;
    display: block;
    position: relative;
    font-size: 5vw;
    font-family: Lato, Calibri, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border: 0px;
    line-height: 13vw;
    cursor: pointer;
    border-radius: 20px;
}

/* Add Button */
#addButton {
    margin-right: 20px;
    background: rgb(252, 173, 38);
}

/* View Button */
#viewButton {
    visibility: ;
    background: rgb(69, 147, 227);
    background-size: 200% 100%;
    background-image: linear-gradient(270deg, rgb(26, 97, 168) 50%, rgb(89, 167, 247) 50%);
    transition: background-position 0.5s ease;
}


/* Move Up Animation */
@keyframes moveup {
    50% {
        transform: translateY(-100%);
    }
}

/* Add to Library Section */
#addtolib {
    height: 12.3605vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* visibility: hidden; */
}

/* Button Style 35 */
.button-35 {
    width: 40vw;
    height: 12.3605vw;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgb(221, 40, 40);
    box-shadow: rgb(171, 60, 60) 0px 6px 0px 0px;
    position: relative;
    font-size: 5vw;
    font-family: Lato, Calibri, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border: 0px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-35:active {
    transform: translateY(8px);
    box-shadow: rgb(171, 60, 60) 0px 0px 0px 0px;
}

.button-36 {
    width: 12.3605vw;
    height: 12.3605vw;
    box-sizing: border-box;
    border-radius: 20px;
    background: inherit;
    box-shadow: inherit 0px 6px 0px 0px;
    position: relative;
    font-size: 5vw;
    font-family: Lato, Calibri, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border: 0px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-right: 10px;
}

.button-37 {
    width: 12.3605vw;
    height: 12.3605vw;
    box-sizing: border-box;
    border-radius: 20px;
    background:  rgb(221, 40, 40);
    box-shadow: rgb(171, 60, 60) 0px 6px 0px 0px;
    position: relative;
    font-size: 5vw;
    font-family: Lato, Calibri, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border: 0px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-right: 10px;
}

.button-36:active {
    transform: translateY(8px);
    box-shadow: rgb(171, 60, 60) 0px 0px 0px 0px;
}

#flashimg{
    margin-top: 15px;
}