body {
    margin: 0;
}

#scanButton {
    width: 45.4vh;
    height: 10vh;
    font-size: 6vh;
    margin-left: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#scanButton {
    border: 0px white;
    background-color: dodgerblue;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Khand", sans-serif;
    font-weight: 600;
    font-style: normal;

}

#barcoderesult {
    font-family: "Khand", sans-serif;
    font-size: 3vh;
}