body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome {    
    font-size: 80px;
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-align: center;
    padding: 50px;

}
#startit{    
    font-size: 40px;
    border-radius: 20px;
    padding: 15px;

    background-color: lightblue;    
    border: 1px solid grey;
    box-shadow: 5px 5px 5px lightblue;
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;    
    cursor: pointer;    

    margin-bottom: 40px;
    
}

#startit:active {
    transform: translateY(2px);
}

#note{
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;

    
}

